Say we have a DataFrame with data on products:

In [8]:
import pandas as pd

data = pd.DataFrame({
    "Product": ["A", "B", "C"], 
    "Price": [100, 200, 300]
})

data.head()

  Product  Price
0       A    100
1       B    200
2       C    300

In [7]:
# slow for loop
taxes = []
for i in range(len(data)):
    taxes.append(data.Price[i] * 0.05)
data["Taxes"] = taxes
data.head()

  Product  Price  Taxes
0       A    100    5.0
1       B    200   10.0
2       C    300   15.0

In [6]:
# fast vectorized
data["Taxes"] = data["Price"] * 0.05

data.head()

  Product  Price  Taxes
0       A    100    5.0
1       B    200   10.0
2       C    300   15.0

We avoid the explicit for loop entirely and just multiply the Price column by 0.05 directly.

Other examples are apply() vs vectorized operations, iterrows() vs vectorized, etc. The key is leveraging pandas vectorized operations whenever possible.